{% extends "base.html" %}
{% block title %}
Atualizar Perfil
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Atualizar Perfil</h2>

    <!-- Exibe mensagens de erro ou sucesso -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        
        <!-- Renderiza os campos do formulário -->
        <div class="form-group">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>
        <div class="form-group">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>
        <div class="form-group">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
            {{ form.phone_number.errors }}
        </div>
        <div class="form-group">
            {{ form.gender.label_tag }}
            {{ form.gender }}
            {{ form.gender.errors }}
        </div>
        <div class="form-group">
            {{ form.profile_picture.label_tag }}
            {{ form.profile_picture }}
            {{ form.profile_picture.errors }}
        </div>
        
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}